body {
  background-image: url("../images/5eba8a33a9346fd7b6419528a7f657ff--lakers-kobe-bryant-la-lakers.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  

}

.floating-box {
  width: 400px;
    height: 90%;
    margin: auto;
    border: 3px solid gray;
    color: white;
    background-color: black;



}


h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-style: italic;

}

div {
  color: white;
}


#after_submit {
  visibility: hidden;
}

input {
  font-size: 30px;
}



.container {
  color: gold;
  font-size: 20px;

}



  
#myTimer {
  font:150px Tahoma bold;
  margin-top: 0px;
  text-align: center;
  color: gold;



}

p {
  border-style: solid;
  border-color: gold;

}


